$successBtn: #66c3f9;
$dangerBtn: #f96666;
$default: #ecf0f5;

.todolist {
  margin: 20px auto;
  width: 530px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #172335;
  padding: 20px;
  border-radius: 5px;
  &__checktask {
    padding: 0;
  }
  &__title {
    color: $default
  }
  &__container {
    position: relative;
    width: 100%;
    &__textbox {
      width: 100%;
      padding: 5px 3px;
      margin: 0;
      border: 1px solid #1a2835;
      box-sizing: border-box;
      height: 30px;
      border-radius: 5px;
    }
    &__btn {
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      border-radius: 5px;
      border: none;
      display: flex;
      align-items: center;
      background-color: #66c3f9;
    }
  }  
  &__task {
    list-style-type: none;
  }
  &__tasks {
    background-color: $successBtn;
    color: $default;
    padding: 0px 5px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    border-radius: 5px;
  }
  &__edititem {
    outline: none;
    background-color: #1e78b152;
    border-radius: 5px;
    padding: 8px 5px;
    max-width: 340px;
    width: 100%;
    color: $default;
    font-weight: 400;
    border: none;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    &.btn {
      border: none;
      background-color: $default;
      margin: 0px 2px;
      border-radius: 3px;
      padding: 5px;
      width: 30px;
      height: 30px;
    }
  }
  &__taskscontainer {
    width: 100%;
    ul {
      padding: 0;
    }
  }
}